.finder-result-container {
  min-height: calc(100vh - 70px);
  margin: auto;

  .image-wrapper {
    width: 33%;
  }

  .result-container {
    min-height: 62vh;
    max-width: 1400px;
  }
}

@media screen and (max-width: 768px) {
  .finder-container {
    .image-wrapper {
      width: 50%;
    }
  }
}

@media screen and (max-width: 480px) {
  .finder-container {
    .image-wrapper {
      width: 100%;
    }
  }
}
