<div
  *ngIf="(toast.toastMessage$ | async) !== ''"
  [@toastTrigger]="(toast.showsToast$ | async) ? 'open' : 'close'"
  [class]="toast.toastState$ | async"
  class="toast-container p-4 bg-white border rounded-md shadow-sm shadow-red-600 gap-10 items-center"
>
  <span class="text-12 text-red-600 font-bold">
    {{ toast.toastMessage$ | async }}
  </span>

  <span class="text-10 text-gray-600 cursor-pointer" (click)="dismiss()">
    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </span>
</div>
