<div class="finder-container m-auto px-6 py-4">
  <div class="mt-4 text-center">
    <h1 class="mx-11 my-1 font-bold text-[30px] text-gray-600">
      Picture <b class="text-indigo-700 text-[35px]"> Finder</b>
    </h1>
    <p class="mx-11 mb-4 text-sm text-gray-500">
      Enter url or upload image to find similar images.
    </p>
  </div>

  <section>
    <div class="flex flex-wrap justify-center gap-2 mb-5">
      <form class="group relative flex-1">
        <input
          class="focus:ring-2 focus:ring-indigo-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-3 pl-10 pr-10 ring-1 ring-slate-200 shadow-sm"
          type="text"
          [(ngModel)]="url"
          [ngModelOptions]="{ standalone: true }"
          aria-label="Enter url"
          placeholder="Enter url..."
        />

        <div
          class="absolute right-1 top-1/2 -mt-5 cursor-pointer"
          (click)="findImages()"
        >
          <a
            class="hover:bg-indigo-400 group flex items-center rounded-md bg-indigo-500 text-white text-sm font-medium px-3 py-[10px] shadow-sm"
          >
            <svg
              width="20"
              height="20"
              fill="currentColor"
              class=" text-white pointer-events-none"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              />
            </svg>
          </a>
        </div>
      </form>

      <select
        id="type"
        [(ngModel)]="selectedType"
        [ngModelOptions]="{ standalone: true }"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-1/5 p-3 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="drive">Drive</option>
        <option value="facebook">Facebook</option>
      </select>
    </div>
    <div *ngIf="selectedType === 'facebook'" class="flex gap-4 mb-5">
      <input
        class="focus:ring-2 focus:ring-indigo-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-3 px-5 ring-1 ring-slate-200 shadow-sm"
        type="text"
        [disabled]="isLoading"
        [(ngModel)]="cookie"
        [ngModelOptions]="{ standalone: true }"
        aria-label="Enter cookie"
        placeholder="Enter cookie..."
      />
      <input
        class="focus:ring-2 focus:ring-indigo-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md py-3 px-5 ring-1 ring-slate-200 shadow-sm"
        type="text"
        [disabled]="isLoading"
        [(ngModel)]="token"
        [ngModelOptions]="{ standalone: true }"
        aria-label="Enter token"
        placeholder="Enter token..."
      />
    </div>

    <div class="lg:flex gap-5 mb-10">
      <div class="lg:w-1/5 mb-5">
        <img
          *ngIf="imagePreview"
          [src]="imagePreview"
          class="w-full h-52 rounded-md shadow-md mb-2 object-cover"
        />
        <app-upload-image
          [onlyButton]="imagePreview"
          (onImageUploaded)="onImageUploaded($event)"
        ></app-upload-image>
      </div>

      <div
        *ngIf="!isLoading; else skeleton"
        class="lg:w-4/5 flex flex-wrap justify-between lg:justify-center gap-12"
      >
        <ng-container *ngIf="!!images && images.length > 0; else emptyImage">
          <div *ngFor="let item of images" class="relative">
            <app-card-image [image]="item"></app-card-image>
          </div>
        </ng-container>

        <ng-template #emptyImage>
          <div class="flex flex-col items-center justify-center">
            <img
              src="assets/images/empty.png"
              class="w-1/2 h-1/2 object-contain"
            />
            <p class="text-gray-500 text-sm">No images found</p>
          </div>
        </ng-template>
      </div>

      <ng-template #skeleton>
        <div class="flex gap-2 justify-center w-full">
          <app-skeleton> </app-skeleton>
          <app-skeleton> </app-skeleton>
          <app-skeleton> </app-skeleton>
        </div>
      </ng-template>
    </div>
  </section>
</div>

<app-footer class="mt-10"></app-footer>
<app-toast></app-toast>
